{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="utf-8" />
<title>PLATAFORMA</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<!-- css -->
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<!-- navbar -->
<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"></a> </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-main">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">MI CUENTA</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- /navbar --> 

<!-- box2 -->
<div id="box2" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Option #2</h3>
      </div>
    </div>
  </div>
</div>
<!-- /box2 --> 

<!-- box3 -->
<div id="box3" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Option #3</h3>
      </div>
    </div>
  </div>
</div>
<!-- /box3 --> 

<!-- footer -->
<footer>
  <hr />
  <div class="container">
    <p class="text-right"></p>
  </div>
</footer>
<!-- /footer --> 

<!-- js --> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
<script src="bootstrap.min.js"></script> 
<script src="main.js"></script>
</body>
</html>